<!--<mat-menu #menu="matMenu">-->
  <!--<button mat-menu-item>Item 1</button>-->
<!--</mat-menu>-->

<!--<header>-->
  <!--<mat-toolbar>-->
    <!--<button mat-raised-button>Home</button>-->
  <!--</mat-toolbar>-->
<!--</header>-->
<!--<div class="header">-->
<!--<mat-toolbar-row>-->
  <!--<button mat-raised-button>Chats</button>-->
<!--</mat-toolbar-row>-->
<!--</div>-->
<!--<button mat-button [matMenuTriggerFor]="menu">Menu</button>-->
<!--<mat-menu #menu="matMenu">-->
  <!--<button mat-menu-item>Item 1</button>-->
  <!--<button mat-menu-item>Item 2</button>-->
<!--</mat-menu>-->
<div class="header">
  <mat-toolbar>
    <span class="menu">Citrus Analytica</span>
    <button mat-raised-button color="primary">stuff</button>
  </mat-toolbar>
</div>
